#section1 {
    display: table !important;
}
    @media only screen and (max-width: 1920px) and (min-width: 1800px)  {
    .mainmenu .cr-dropdown.last-element > ul {
    left: 0;
    right: 0; }
}
@media (max-width: 1680px){
 #myModal   .modal-dialog {
    max-width: 900px;
    margin: 1.75rem auto;
    margin-top: 1.75rem;
    margin-top: 2% !important;
}
 .mainmenu > ul > li > a {
        font-size: 15px;
	}
	.dsec h3 {
    font-size: 15px;
}
	.service-interne .icon{width: 90px;}
	.dsec {
    width: calc(100% - 90px);
    height: 100px;
    margin-left: 90px;
    text-align: left;
    padding-left: 25px;
}
.service-interne .link_bg {
    width: 90px;}
.h3-responsive {
    font-size: 120%;
}
img.nav-icon {
    width: 90px;
    object-fit: scale-down;
height: 100%;
}
.nav-icon {
    margin-left: 15px !important;
}
.p-date {
    font-size: 20px;
}
.wrap-news .agenda .row-content p {
    font-size: 17px;
}
h2.e-title {
    text-transform: initial;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: bold;
}
#block-auer-actualitehpblock a.cr-btn-small, #block-auer-actualitehpblock button.cr-btn-small,#block-auer-actualitehpblock .cr-btn-small {
    padding: 3px 16px;
    height: 30px;
    font-size: 15px;
}
#block-auer-actualitehpblock h5, #block-auer-actualitehpblock  .h5 {
    font-size: 15px;
}
h2.desktop-h2 {
margin-top: 12%;
color:white;
font-size: 36px;
font-weight: bold;
text-transform: uppercase;
padding-left: unset;
width: 320px;
}
img.destop-youtube {
height: 285px;
margin-top: 8%;
}
}
@media (max-width: 1440px){
    #au_section4_1 .slick-slide img {
    display: block;
    height: 17vh;
    width: 100%;
    object-fit: cover;
}
p.count-text {
padding-left: 10px;
padding-right: 39px;
}
    .page-footer p {
        margin-bottom: 0px !important;
    }
    .dsec {
    width: calc(100% - 100px);
    height: 100px;
    margin-left: 80px;
    text-align: left;
    padding-left: 18px;
}
.dsec h3{
font-size: 14px; }
.service-interne .icon {
    width: 90px;}
    .service-interne .link_bg {
    width: 90px;}
    .mainmenu > ul > li > a {
        font-size: 14px;
	}
	
    h2.desktop-h2 {
margin-top: 8%;
padding-left: unset;
width: 320px;
}
    .wrap-news .agenda .row-content{
  float: left;
  padding: 9px 0px 0 0px;
    height: calc((100vh - 300px) / 3 );
}
img.destop-youtube {
    height: 255px;
    margin-top: 8%;
}
.copyright-front {
    position: absolute;
    bottom: 90px;
    background: 
    #8bc3c4;
    height: 70px;
    padding-top: 10px;
}
.copyright-front img.logo-auer {
    width: auto;
    margin-left: 5%;
    object-fit: cover;
    height: 50px;
}
.mainmenu > ul > li > a {
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    padding: 8px 0px;
    padding-left: 15px;
    position: relative;
}
.header-transparent {
    height:90px;
}
.contact-detail-map {
    padding-left: 50px !important;
    padding-right: 27px !important;
    background: 
    #775f65;
    height: 100vh;
}
}
@media (max-width: 991px){
    #section1 {
    display: none !important;
}
.appel_offre {
    padding: 3vh 7vh;
    height: unset;
    display: block;
    width: 100vw;
}
.md_appel_offre .content-appel-offre button {
    bottom: unset;
}
.md_appel_offre h3 {
    height: unset;
}
.md_appel_offre .slick-dots {
    bottom: 0% !important;
}
.carousel-caption {
    left: 5% !important;
    left: 5% !important;
    max-width: 90%;
}
.carousel-caption h3 {
    color: #FFF !important;
    padding: 0px;
    font-size:80%;
}
.ul-rs {
    position: unset !important;
    background: #fff;
    left: 0;
    bottom: 50vh;
    z-index: 2;
    max-width: 100% !important;
}
.cnt-tcn div.gold_square {
    padding-left: 16px;
}
.ul-rs ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    padding-left: 10px;
}
.ul-rs li {
    float: left;
}
.vh-5 .slick-slide {
    padding-left: unset;
    height:260px;
}
.md_appel_offre .section-title h2 {
    font-family: unset;
    position: unset;
    padding-bottom: 15px;
    margin-bottom: unset;
}
#block-serviceblockinterne-2 h2 {
    background-color: #FFFFFF !important;
    color: #4B52A2 !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}
.vh-5 .slick-dotted.slick-slider {
   height: 400px;
display: flex;
}
.md_appel_offre h2 {
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif !important;
    font-weight: bold;
}
#block-countblock {
height: unset;
padding: 35px 0;
vertical-align: unset;
display: block;
margin: auto;
width: 100vw;
min-height: 200px;
}
.cnt-tcn {
    padding: unset !important;
    padding-top: unset !important;
}
div.col-md-4 div.maps_google {
    height: 445px;
}
.vh-07 {
    height: unset;
}
#block-mdblockcontactblock .vh-100 {
    height: unset !important;
}
.menu-bas ul {
    display: none;
}
.vh-09 {height:0;}
footer.page-footer {
    bottom: 0;
    color: #fff;
    display: none;
}
	.region-we-mega-menu {
    background-color: transparent;}
.mean-container .mean-nav {
    float: none;
    width: 80%;
    background: #fafafa;
    margin-left: 0;
    margin-bottom: 0;
    margin: 0 auto;
    margin-top: 0px;
    margin-top: 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
}
.mobile-menu a.mobile-logo {
    z-index: 1;
    height: unset;
line-height: unset;
position: unset;
margin-left: 10px;
}
.mean-container .mean-nav ul {

    padding: 0;
    margin: 0;
    width: 100%;
    list-style-type: none;
    height: auto;
    overflow: unset;
        overflow-y: unset;
    overflow-y: unset;
}
.mean-container .mean-nav ul li li a {
    color: #595959;
}
.mean-container .mean-nav ul li a {
	color:#000;
	padding: 15px 5%;
	font-size: 15px;
}
.mean-container .mean-nav ul li span {
	color:#000;
	padding: 15px 5%;
	font-size: 15px;
}
}
@media (max-width: 991px){
.responsive-menu-toggle-wrapper.responsive-menu-toggle {
    display: block;
}
.vh-5 {
    height: unset;
}
.md_appel_offre {
     height: unset;
}
.region-search {
    display:none;
}
.lng {
    display:none;
}
}