


   
  {% set code = node.field_youtube_id.0.value|split('=') %}
  <a  class="video-btn" data-toggle="modal" data-src="https://www.youtube.com/embed/{{ code|last }}" data-target="#myModal">
              
              <img class="d-block w-90" src="https://img.youtube.com/vi/{{ code|last }}/hqdefault.jpg" style="max-height: 300px;margin: auto;"></a>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      
      <div class="modal-body">

       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>        
        <!-- 16:9 aspect ratio -->
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="" id="video"  allowscriptaccess="always" allow="autoplay"></iframe>
</div>
        
        
      </div>

    </div>
  </div>
</div> 
  
  



