.div_carte {
  height: 100vh;
  vertical-align: middle;
  display: table-cell;
}
.description_tp {
  height: 100vh;
  display: table-cell;
  vertical-align: middle;
  padding-left: 25px;
}
.maps-contact-size {
  overflow: hidden;
  height: 100vh;
  width: 100%;
}
#Layer_1 path {
  fill:#ffffff;
}
#Layer_1 path:hover {
  fill:#e1b9b1;
}
.region-map {
  background: unset;
  width: 100%;
}
.txt_span {
  line-height: 18px !important;
  padding: 2px 10px !important;
  font-size: 14px !important;
  text-transform: capitalize !important;
  font-family: dosis;
  color: #FFF;
  border-radius: 5px;
  border: 2px #FFF solid;
  position: absolute;
  z-index: 13;
  background-color: #94C045;
  display: none;
}
.txt_midelt {
  top: 150px !important;
  left: 200px !important;
  display: block;
}
.txt_errachidia {
  top: 350px !important;
  left: 320px !important;
  display: block;
}
.detailCarte {
  display: none;
  padding-top: 20px;
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.9;
  position: relative;
}
.chiffres-cles-maps {
}
.detailCarte h5 {
  font-weight: bold;
  color: white;
  font-size: 22px;
}
.detail1 {
  display: block;
}
#block-mapsblockblock-2 h1.title5 {
  color: white;
  padding-left: 50px;
  padding-top: 50px;
}
.div_carte svg {
  transform: scale(1);
  height: 80vh;
}
#Layer_1 path.cls_active {
  fill: #e1b9b1;
}
[dir="rtl"] .detailCarte {
  left: unset;
  right: 60px;
  text-align: right;
}
.spanTooltips {
  z-index: 999999;
  display: none;
  position: absolute;
  border: 1px solid #92C46D;
  background-color: #FFF;
  border-radius: 5px;
  padding: 10px;
  color: #000;
  font-size: 12px Arial;
  top: 240px;
  left: 400px;
}
@media (max-width: 1366px) {
  .detailCarte p, .detailCarte ul {
    margin: 0;
  }
  #maps_id h1 {
    font-size: 24px;
  }
}
/********************************      ****************/
.blog-item-ver {
  height: 25vh;
}
.blog-item-vert-1 {
  background-color: #ADADAD;
  height: 100%;
  opacity: 1;
}
.blog-item-vert-2 {
  background-color: #845A4A;
  
  height: 100%;
  opacity: 1;
}
.blog-item-vert-3 {
  background-color: #9B6855;
  height: 100%;
  opacity: 1;
}
.blog-item-vert-4 {
  background-color: #CE9078;
  height: 100%;
  opacity: 1;
}
[class^="blog-item-vert-"] a i {
  font-size: 57px;
  padding-left: 50px;
  color: #FFF;
  display: table-cell;
  vertical-align: middle;
  text-transform: uppercase;
  height: 25vh;
}
[class^="blog-item-vert-"] h6.h6 {
  font-size: 20px;
  color: white;
  font-weight: 600;
  padding-left: 50px;
  padding-top: unset;
  width: calc(100% - 100px);
  display: table-cell;
  vertical-align: middle;
  text-transform: uppercase;
  height: 25vh;
}
