
    <div class="col-md-8">
        <div class="row">
			<div class="col-md-12 col-xs-12 section-title-auejsb">
			<h1>Publications</h1>
			</div>
				<div class="col-md-4 col-xs-12" id="maps_id">
					<img src="/themes/auer/images/book.jpg" />
				</div>
				<div class="col-md-8 col-xs-12 section-content-auejsb">
					<h3>Concepdtetur adipiscing elit</h3>
					<div>
						Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
					</div>
					<button class="btn btn-md">+ de détails</button>
				</div>

			<div class="col-md-12 col-xs-12 section-white-auejsb">
				<div class="col-md-4 col-xs-12 title-map-white">
					<h3>Résidents<br/>
						Marocains<br/>
						à l'étranger</h3>
					<button class="btn btn-md purple-btn">en savoir plus</button>
				</div>
				<div class="col-md-8 col-xs-12 map-white" >

						<img src="/themes/auer/images/map-dotted.png" />
				</div>
			</div>
		</div>

</div>
