<div class="col-md-8 feild-produit-vent no-pad "> 
<div class="row no-pad">
    <div class="col-md-12 "> 
<div class="label_wi"> 
{{ label }}
</div>
<div class="field__items">
{% for item in items %}  {{ item.content }}     {% endfor %}    
</div>
</div></div>