{#
/**
 * @file
 * Contains the text of the md_newsletter explanation page
 */
#}
<div class="newsletter-bg">
								<h4 class="news-letter">
								{% trans %}	Infos lettre{% endtrans %}
								</h4>

								 {{ form.form }}

							</div>	

